@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme{
  --color-gold: #B88E2F;
  --color-creme: #FFF3E3;
  --font-poppins:'Poppins', sans-serif;
}
